---
# Disable Windows Firewall for lab environments
# WARNING: Only use in isolated lab environments

- name: Disable Windows Firewall - Domain Profile
  ansible.windows.win_firewall:
    state: disabled
    profiles:
      - Domain
  ignore_errors: true

- name: Disable Windows Firewall - Private Profile
  ansible.windows.win_firewall:
    state: disabled
    profiles:
      - Private
  ignore_errors: true

- name: Disable Windows Firewall - Public Profile
  ansible.windows.win_firewall:
    state: disabled
    profiles:
      - Public
  ignore_errors: true
